* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

// CABEÇALHO
header {
}

// AGRUPAMENTO DE CONTEUDO
main {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

// LISTA DE USUARIOS
main > aside {
  flex: 1 1 25%;
}

// LISTA DE MENSAGENS
main > div {
  flex: 1 1 75%;
}

// RODAPÉ
#footer {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input-mensagem {
  height: 50px;
  width: 75%;
}

.button-enviar {
  height: 50px;
  width: 20%;
}
