* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

header {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8f7669;

  border: 1px solid #000000;
}

header h1 {
 color: #ffffff;
}

main {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  /* align-items: center; */
  width: 100%;
  margin: 0 auto;
}

main > aside {
  flex: 1 1 30%;
  padding: 16px;

  /* height: 100%; */
  border: 1px solid #000000;
}

main > aside ul {
  list-style: none;
}

main > aside ul li + li  {
  margin-top: 12px;
}

main > div {
  flex: 1 1 70%;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input-mensagem {
  height: 50px;
  width: 75%;
}

.button-enviar {
  height: 50px;
  width: 20%;
}
