/*
 * ESTILO GLOBAL
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  max-width: 840px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
 * ESQUELETO GERAL
 */
#cabecalho {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8f7669;
  border: 1px solid #000000;
  flex: 0 0 auto;
  border-radius: 15px;
  margin-bottom: 5px;
  height: 200px;
}

#container {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

main > aside {
  padding: 16px;
  flex: 1 1 25%;
  border: 1px solid #000000;
  border-radius: 15px;
  margin-right: 5px;
}

#lista_messagens {
  flex: 1 1 75%;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 15px;
  margin-left: 5px;
}

footer {
  margin-top: 5px;
  width: 100%;
}

/*
 * ESTILO CABEÇALHO
 */
#cabecalho h1 {
  color: #ffffff;
}

/*
 * ESTILO LISTA USUARIOS
 */
main > aside ul {
  list-style: none;
}

main > aside ul li + li {
  margin-top: 12px;
}

/*
 * ESTILO LISTA MENSAGENS
 */
.lista_messagens {
  width: 100%;
  list-style: none;
}
.lista_messagens .lista_messagens__item {
  padding-bottom: 10px;
}

.lista_messagens .lista_messagens__usuario {
  font-size: 11px;
  font-weight: 700;
}
.lista_messagens .lista_messagens__item > p {
  padding: 2px 6px;
  background-color: #f3f4f6;
  border-radius: 9px;
  color: #374151;
}

/*
 * ESTILO RODAPÉ
 */
footer form {
  margin-top: 12px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}
.input-mensagem {
  height: 50px;
  width: 75%;
  padding: 8px;
  border-radius: 15px;
}

.button-enviar {
  height: 50px;
  width: 20%;
  border-radius: 15px;
}
